/* .productHeaderContainer{
    width: 80%;
    margin: 0 auto;
} */
.productHeader{
    background-color: #213E38;
}
.navHeader{
    display:inline-block;
    color:#fff;
    padding:15px 0;
    margin: 0 20px;
    font-weight: bold;
    font-size: 20px;
}
/* @media only screen and (max-width: 600px) {
    .productHeaderContainer{
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .productHeaderContainer{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .productHeaderContainer{
        width: 80%;
    }
}
@media only screen and (min-width: 992px) {
    .productHeaderContainer{
        width: 80%;
    }
} */
