.orderItem{
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    background-color: #0147FE;
    padding: 10px;
    margin-bottom: 10px;
    color:#fff;
    border-radius: 10px;
}
img{
    width: 80px;
    border-radius: 50%;
    margin-right:50px
}


@media only screen and (max-width: 600px) {
    .orderItem {
        padding: 10px 5px;
    }
    .orderItem h3{
        font-size: 16px;
    }
    img{
        width: 50px;
        margin-right:30px
    }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {
   
}
