.link{
    color:rgb(0, 0, 0);
    margin: 0 10px;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    align-items: flex-end;

}
.navItem{
    display: flex;
    align-items: center;
}