.manageItem{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.manageName{
    width: 50%;
}
.manageWigth{
    width: 20%;
}
.managePrice{
    width: 20%;
}
.manageDelete{
    width: 50px;
    cursor: pointer;
}
.manageEdit{
    width: 50px;
    cursor: pointer;
}
@media only screen and (max-width: 599px) {
    .manageName{
        font-size: 18px;
    }
    .manageWigth{
        font-size: 18px;
    }
    .managePrice{
        font-size: 18px;
    }
    .manageDelete{
        width: 30px;
    }
    .manageEdit{
        width: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .manageName{
        font-size: 18px;
    }
    .manageWigth{
        font-size: 18px;
    }
    .managePrice{
        font-size: 18px;
    }
    .manageDelete{
        width: 30px;
    }
    .manageEdit{
        width: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .manageName{
        width: 50%;
    }
    .manageWigth{
        width: 20%;
    }
    .managePrice{
        width: 20%;
    }
    .manageDelete{
        width: 50px;
        cursor: pointer;
    }
    .manageEdit{
        width: 50px;
        cursor: pointer;
    }
}
