.formContainer {
    width: 80%;
    margin:0 auto;
}
.formContainer form{
    background-color: rgb(234, 252, 255);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}
.formContainer form input{
    width: 80%;
    margin-bottom: 20px;
    border:1px solid lightgray;
    padding:5px;
    border-radius: 5px;
    outline: none;
}
.formContainer form p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.formContainer form .inputImageUpload{
    border:none
}
@media only screen and (max-width: 599px) {
    .formContainer {
        width: 100%;
    }
    .formContainer form{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 600px) {
    .formContainer {
        width: 100%;
    }
    .formContainer form{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .formContainer {
        width: 80%;
    }
    .formContainer form{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 992px) {
    .formContainer {
        width: 80%;
    }
    .formContainer form{
        grid-template-columns: repeat(2, 1fr);
    }
}
